doctype html 
html(lang="en")

  head
    title= 'Node.js Template'
    link(rel='stylesheet', href='/index2.css')
  body
    h1 "Admin Dashboard"
    table
      thead 
        tr 
         th id 
         th Username
         th Password
      each element in data
        tr
          td  #{element.UserId} 
          td #{element.Username} 
          td  #{element.Password}